<div th:replace="/fragments/header"></div>

<main>
    <div class="container">
        <div th:if="${session.statistics == null}">
            <div class="title align-items-baseline">
                <h1 class="start" th:text="${session.user.getFirstName()} + ' ' + ${session.user.getLastName()}"></h1>
            </div>
            <div class="row header-text">
                <p>You haven't finished any tests yet</p>
            </div>
            <div class="btn">
                <button type="button" href="">Start now</button>
            </div>
        </div>
        <div th:if="${session.statistics != null}">
            <section class="result col-12">
                <div class="result__container container">
                    <div class="row justify-content-center result__head">
                        <div class=" col result__title"><h3>Your personal statistics</h3></div>
                    </div>
                    <div class="row result__body">
                        <div class="data-container container mt-5" id="dataContainer">
                            <div class="row grid__head">
                                <div class="col-1 text-start d-none d-md-block">#</div>
                                <div class="col-md-8 col-sm-7 text-start mb-2 grid__head-item">Name of the test</div>
                                <div class="col-md-3 col-sm-5 text-center d-flex justify-content-between">
                                    <div class="text-center grid__head-item">Pass</div>
                                    <div class="text-center grid__head-item">
                                        <span>Average</span>
                                        <button class="sort-button" id="sortTestsButton"><img th:src="@{/img/sort-icon.svg}"
                                                                                              alt="sort-icon"
                                                                                              src="/img/sort-icon.svg">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row grid__item" id="resultTableBody">
                                <!-- Fetch data layout -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/modals"></div>

<script th:src="@{/js/test-item.js}"></script>
</body>
</html>
